<link rel="stylesheet" href="style.css" />
<%- include("header.ejs") %>

<div class="full2">
    <div>
        <h1><%= heading %> Tasks List</h1>
        <% if(locals.DateName){ %>
            <h2><%= DateName %></h2>
        <% }else{ %>
            <h2>Date</h2>
        <%  } %>

        <form action="/add1" method="post" class="form">
            <input type=" text" name="text" placeholder="  New Item" class="input1">
            <button type="submit" name="list" value="<%= heading  %>" class="input2">Add</button>

            <!-- Display an alert if the 'alertMessage' variable is set -->
            <% if (alertMsg) { %>
                <div class="arrow message"></div>
            <% } %>
        </form>
    </div>  

      
    <% for(var i=0;i<addTask.length;i++){ %>
    <form action="/deleteWork" method="post">
        <div class="js">
            <input type="checkbox" class="contentToCross" name="checkbox" value="<%= addTask[i]._id %>" onchange="this.form.submit()">
            <label for="contentToCross"><%= addTask[i].name %></label>
        </div>
        <input type="hidden" name="listName" value="<%= heading %>"></input>
    </form>
    <% } %>
</div>

<%- include("footer.ejs") %>